extends layout
block content
	h1= title
	each item in results
		div.row
			div.col-md-12.col-lg-12
				div.row
					div.wodborder.col-lg-8.col-md-8
						div.row	
							div.col-lg-1.col-md-1
							div.wod.col-lg-10.col-md-10
								div.row
									div.col-lg-12.col-md-12
										div
											span.title Instructor: 
											span #{item.instructor}
								div.row
									div.col-lg-12.col-md-12
										span.title Date: 
										span= moment(item.classDate).format("DD MMMM YYYY")
								div.row
									div.col-lg-12.col-md-12
										div.title WOD
								div.row
									div.col-lg-12.col-md-12
										div #{item.wod.repetitions}
								div.row
									div.col-lg-12.col-md-12	
										each exercise in item.wod.exercises
											div #{exercise.reps} x #{exercise.movement} (#{exercise.resistance.male} / #{exercise.resistance.female}) #{exercise.units}
								div.row
									h3 Results
									div.col-lg-12.col-md-12	
										div.table-responsive
											table.table.table-bordered.table-condensed
												thead
													th.text-center Name
													th.text-center Result
													th.text-center RX?
												tbody
													each result in item.results
														tr
															td #{result.name}
															td #{result.result}
															if(result.rx == true) 
																td.red RX
															else
																td
							div.col-lg-1.col-md-1
					div.col-lg-4.col-md-4